#boxhome{
    background-image:url('../images/webdesign/Web-Design-Services.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#box2{
    background-image:url('../images/webdesign/Custom-Web-Development-Services.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}


