{% extends 'parent.html' %}
{% load static %}
{% block title %}Alpha Strategy | Web Design in Nanaimo, Vancouver Island BC &amp;{% endblock title%}
{% block csslink %}
<link rel="stylesheet" href="{% static 'cssfiles/aboutus.css' %}" />{% endblock csslink %}
{% block boxhome %}
<div class="boxhome">

</div>
{% endblock boxhome %}
{% block section %}
<div class="text">
    <h1><span style="color: rgb(19, 204, 204); text-decoration: none; text-transform: uppercase; font-weight: 800; ">Welcome to</span></h1>
    <h1 style="font-weight: 800; text-transform: uppercase; color: black;">Alpha Strategy</h1>
    <div class="col-md-10">
    <p style="color: black; font-size: 20px; font-weight: 600; text-align: justify;">
        At Alpha Strategy, we bring a unique combination of consulting, management, marketing, design, and content optimization that gives us a 360-degree understanding of growing a business online. 
    </p></div>
</div>
<div class="bg1">
    <h1 style="color: white; font-weight: 800; text-align: center;">THE ORIGIN STORY OF OUR NANAIMO</h1>
    <h1 style="color: white; font-weight: 800; text-align: center;">WEB DESIGN AGENCY</h1>
</div>
<div class="para1">
    <div class="col-md-10">
    <p>
        We are a Nanaimo based web design agency on Vancouver Island comprised of a team of talented entrepreneurs, designers, writers and marketing professionals. Founders DJ Levy and Andrew Labun launched several companies before Alpha Strategy but kept running into the same issues with web developers who went over budget, didn’t communicate, and were unable to meet deadlines.</br></br>
        Tired of the same disappointments, DJ and Andrew launched Alpha Strategy in response to the lacklustre services in the industry. They decided to do it better and to improve the digital experience for clients across North America in order to help businesses grow quickly with trusted, reliable and affordable customer service.
    </p></div>
</div>
{% endblock section %}