{% extends 'parent.html' %}
{% load static %}
{% block title %}Online Marketing|Creative Agency|Digital Marketing Agency AlphaStrategy &amp;{% endblock title %}
{% block boxhome %}
<div id="boxhome">
        <p class="text" style=" padding-bottom: 200px;">
              <center> <h2 style="color: white; font-weight: 1000; font-size: 45px;">ACCELERATE YOUR ONLINE</h2></center>
           <center> <h2 style="color: white; font-weight: 1000; font-size: 45px;">MARKETING WITH ALPHA STRATEGY</h2></center></p>
        <a id="btn" href="#" style="text-decoration: none; "><center><button type="button" class="btn btn-primary" style="background-color: rgb(8, 233, 233); margin-bottom:200px; padding: 20px 20px 20px 20x; font-size: 25px; font-weight: 500; hover; margin-top: 20px; border-radius: 20px;">CONTACT US TODAY!</button></center></a>
    </div> 
</div>
{% endblock boxhome %}
{% block section %}
<div class="row">
    <div class="col-md-8">
        <h1 style="color: rgb(9, 224, 203); font-size: 40px;">ALPHA STRATEGY</h1>
        <h1 style="color: black; font-size: 40px;">IS YOUR CREATIVE AGENCY</h1>
        <p style="color:rgb(22, 235, 213); font-size:20px ; text-align: justify;">We work for you. We don’t oversell or push products and services that you don’t want or need. We care about your budget and your bottom line and we want to make the most of your time and resources. This is our mission and our vision as a forward-thinking and progressive creative agency. We strive to never let our clients down while exceeding expectations for your online goals.</p>
        <p style="color:black; font-size: 20px; padding-bottom: 20px;">Converting your budget into leads and clients is what we do best.</p>
        <img src="{% static 'images/logo2.png' %}" style="padding-bottom: 50px;"><br>
        <div class="d-inline p-2 " style="color:black; font-size: 40px; font-weight: 500;">ALPHA</div>
        <div class="d-inline p-2 " style="color:rgb(22, 235, 213); font-size: 40px; font-weight: 500;">STRATEGY INTRODUCTION VIDEO</div>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/gbwx4HG8L7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
    </div>
</div>
<div id="webdesign" style="margin-top:50px;" >
  <h1 style="color: white; font-weight: 700; text-align: center; padding-top: 200px;"> WEB</h1> 
  <h1 style="color: white; font-weight: 700; text-align: center; padding-bottom: 200px;">DESIGN</h1>
</div>
<div class="container">
    <div class="row" style="padding-left: 0px;">
        <div class="col align-self-start"> <img src="{% static 'images/phone.png' %}"></div>
        <div class="col align-self-center"> <img src="{% static 'images/computer.png' %}"></div>
        <div class="col align-self-end" style="padding-left: 110px;padding-bottom: 50px;"> <img src="{% static 'images/tablet.png' %}" ></div>
    </div>
</div>
<div class="row2">
    <div class="col-md-8" style="padding-left: 100px; text-align: justify;">
    <div class="d-inline p-2 " style="color:rgb(22, 235, 213); font-size: 20px; font-weight: 500;">Alpha Strategy</div>
    <div class="d-inline p-2 " style="color:black; font-size: 20px; font-weight: 500;">provides web design services to businesses of all sizes. We work with you to understand the unique challenges and goals that are specific to your company in order to determine the most effective web development strategies. Once your website is built or updated, we can provide ongoing hosting and maintenance support, as well as additional marketing initiatives or advanced services, to ensure we’re meeting your goals today while encouraging growth for tomorrow.</div>
    </div>
    <img src="{% static 'images/logo3.png' %}" style="padding:50px 0px 50px 100px;">
</div>
<div id="digitalmarketing">
    <h1 style="color: white; font-weight: 700; text-align: center; padding-top: 200px;"> DIGITAL</h1> 
    <h1 style="color: white; font-weight: 700; text-align: center; padding-bottom: 200px;">MARKETING</h1>
</div>
<div class="row3">
    <div class="col-md-8" style="padding-left: 100px; text-align: justify;">
        <div class="d-inline p-2 " style="color:rgb(22, 235, 213); font-size: 20px; font-weight: 500;">Feeling lost in the digital landscape?</div>
        <div class="d-inline p-2 " style="color:black; font-size: 20px; font-weight: 500;">We are attentive in our approach and utilize social media, SEO, email marketing, and content writing to optimize every opportunity for establishing long-term relationships with your existing clients while bringing ideal new customers to you. Looking for advanced consulting services? As a digital marketing agency with a strong background in business consulting, we can also help your company enhance performance by studying your operational structure, analyzing internal company obstacles, and putting together a plan to maximize efficiency and facilitate growth.</div>
    </div>
    <img src="{% static 'images/logo3.png' %}" style="padding:50px 0px 50px 100px;">
</div>
<div id="seo" >
    <h1 style="color: white; font-weight: 700; font-size:80px; text-align: center; padding-top: 200px;  padding-bottom: 200px;">SEO</h1> 
</div>
 <div class="row4">
    <div class="col-md-8" style="padding-left: 100px; text-align: justify;">
        <div class="d-inline p-2 " style="color:black; font-size: 20px; font-weight: 500;">What is your website doing to</div>
        <div class="d-inline p-2 " style="color:rgb(22, 235, 213); font-size: 20px; font-weight: 500;">help you gain passive leads,</div>
        <div class="d-inline p-2 " style="color:black; font-size: 20px; font-weight: 500;">also known as organic traffic, while you’re busy running your business in real life? That’s the question we’ll ask when we review the SEO strategies that have or have not been applied to your website or other online marketing initiatives.</div>
    </div>
    <div class="col-md-6 col-12">
        <img src="{% static 'images/Chat-With-Us.png' %}" style="padding-top: 50px; padding-left: 100px; float: left;">
    </div>
    <div class="col-md-10 col-12" style="padding-bottom: 50px;">
        <p style="padding-top: 80px; text-align: justify; color: rgb(14, 194, 170);">Contact our creative agency today and let us know your availability for a complimentary consultation. We’ll reach out at your convenience to talk about your individual goals and how we can help. No strings, no pressure. We’re happy to answer questions and give you an idea of what you’ll get when you choose to work with us.
         <br><h2><a href="#" style=" color:rgb(5, 185, 185); padding:20px; font-weight: 700; text-decoration:none;">Contact Us--></h2></p>
    </div>
 </div>   
{% endblock section %}